@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body {
    margin-top: 7%;
    margin-bottom: 27%;
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

code {
    font-family: 'Nunito', sans-serif;
    
}
.title{
    display: contents;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}


.reactive-btn .content {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.selectChart{
    font-size: 18px;
    width: 80%;
}



.MuiList-root {
    color: #000;
    font-size: 28px;
    padding: 80px;
    border-radius: 10px;
  }

  .panelnotificaciones{
    color: #000;
    border-radius: 10px;
  }

  
    @media (max-width: 768px) {
    .MuiPopover-paper{
        margin-top: 10%;
      }
  }

  .bienvenida{
        margin-top: 0;
        text-align: left;
        color: #fff;
        font-weight: bold;
        margin-bottom: 0;
        text-shadow: 2px 2px #134E5E;
        
  }
  .subtitulo{
    text-align: left;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10%;
    text-shadow: 1px 1px #134E5E;
}


.MuiAlert-root{
    max-width: 300px;
    margin-top: 10px;
}

.tipoGrafica{
    margin-top: 6%;
    margin-bottom: 3%;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
    background-color: #272727;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .imagenFooter {
    margin-left: 17%;
    padding: 14px;
    margin-left:10%;
  }