@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    margin-top: 10%;
    background: rgb(242,225,203);
    background: radial-gradient(circle, rgba(242,225,203,1) 67%, rgba(245,241,231,1) 98%);
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Oswald', sans-serif;
}
.title{
    display: contents;
    font-family: 'Oswald', sans-serif;
}


.reactive-btn .content {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.selectChart{
    font-size: 18px;
}
