@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    margin-top: 10%;
    background-image: url('./assets/triangles.png');
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Oswald', sans-serif;
}
.title{
    display: contents;
    font-family: 'Oswald', sans-serif;
}


.reactive-btn .content {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

